.container {
    position: fixed;
  }
  
  .item {
    position: relative;
    background: linear-gradient(to top, #182237, #253352);
    padding: 20px 24px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .bgContainer {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 50%;
  }
  
  .bg {
    object-fit: contain;
    opacity: 0.2;
  }
  
  .text {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .notification {
    font-size: 19px;
  }
  
  .title {
    font-size: 21px;
    font-weight: bold;
  }
  
  .subtitle {
    font-size: 12px;
    color: var(--textSoft);
  }

  .positive {
    font-size: 12px;
    color: var(--textSoft);
    color: lime;
  }
  
  .desc {
    font-size: 12px;
    color: var(--textSoft);
  }