.wrapper {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 24px auto;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    min-width: 300px;
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    align-items: center;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.label {
    font-size: 14px;
    font-weight: bold;
    color: var(--textSoft);
    text-transform: capitalize;
}

.inputBg {
    background: #2e374a;
    border-radius: 10px;
    width: 100%;
}

.input {
    background-color: transparent;
    border: none;
    color: var(--text);
    padding: 10px;
    width: 100%;
}

.sliderWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.slider {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 50%;
}

.sliderLabel {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold;
    color: var(--textSoft);
}

.SliderRoot {
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    touch-action: none;
    width: 200px;
    height: 20px;
    margin-top: 10px;
}

.SliderTrack {
    background-color: white;
    position: relative;
    flex-grow: 1;
    border-radius: 9999px;
    height: 3px;
}

.SliderRange {
    position: absolute;
    background-color: black;
    border-radius: 9999px;
    height: 100%;
}

.SliderThumb {
    display: block;
    width: 20px;
    height: 20px;
    background-color: var(--bgSoft);
    box-shadow: 0 2px 10px black;
    border-radius: 10px;
}

.SliderThumb:hover {
    background-color: black;
}

.SliderThumb:focus {
    outline: none;
    box-shadow: 0 0 0 5px white;
}