.container {
    background-color: var(--bgSoft);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px auto 0;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    gap: 20px;
}

.title {
    color: var(--textSoft);
    font-size: 24px;
    font-weight: bold;
}

.description {
    color: var(--textSoft);
    font-size: 14px;
    font-weight: 500;
}