.wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}

.container {
    flex: 1;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--bgSoft);
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    max-width: 50%;
}

.title {
    color: var(--textSoft);
    font-weight: bold;
    text-transform: capitalize;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    background: #2e374a;
    padding: 10px;
    border-radius: 10px;
    max-width: 30%;
    margin: 0 auto;
    margin-top: 10px;
}
  
.input {
    background-color: transparent;
    border: none;
    color: var(--text);
    cursor: 'pointer';
}

.output{
    margin: 10px;
    cursor: pointer;
    background: #2e374a;
    color: var(--text);
    transition: background-color 0.2s ease;
    border-radius: 10px;
    padding: 5px;
}

.output:hover{
    background-color: #3e4a5a;
}

.selected{
    margin: 10px;
    background-color: #3e4a5a;
    padding: 5px;
    border-radius: 10px;
    color: var(--text);
}