.container {
    height: 400px;
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.header {
    margin-bottom: 15px;
}

.title {
    font-weight: 200;
    color: var(--textSoft);
    margin-bottom: 24px;
    margin-right: 5px;
}

.search {
    background: #2e374a;
    padding: 6px;
    border-radius: 10px;
}

.input {
    background-color: transparent;
    border: none;
    color: var(--text);
    cursor: pointer;
}

.priceSection {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}

.marketTime {
    font-size: 12px;
    color: var(--textSoft);
    margin-bottom: 10px;
}