.container {
    height: 400px;
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.header {
    margin-bottom: 15px;
}

.title {
    font-weight: 200;
    color: var(--textSoft);
    margin-bottom: 24px;
    margin-right: 5px;
}

.search {
    background: #2e374a;
    padding: 6px;
    border-radius: 10px;
}

.input {
    background-color: transparent;
    border: none;
    color: var(--text);
    cursor: pointer;
}

.priceSection {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}

.marketTime {
    font-size: 12px;
    color: var(--textSoft);
    margin-bottom: 10px;
}

.dateRangeButtons {
    margin: 10px;
    display: flex;
    gap: 10px;
}

.dateButton {
    gap: 6px;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.02);
    border-radius: 8px;
    transition: background-color 0.2s, transform 0.1s;
    color: gray;
    border: none;
    cursor: pointer;
}

.dateButton:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.dateButton:active {
    transform: translateY(2px);
    background-color: rgba(255, 255, 255, 0.08);
    color: white;
}

.dateButton.selected {
    transform: translateY(2px);
    /* keeps it pressed in */
    background-color: rgba(255, 255, 255, 0.08);
    color: white;
}

.customTooltip {
    padding: 10px;
}

.description {
    margin: 8px 0 2px 0;
    font-size: 12px;
    color: rgba(211, 211, 211, 0.934);
}