---
name: Dependency Manager

on:
    schedule:
        - cron: '0 14 * * *'

jobs:
    update-deps:
        name: Update Dependencies
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Code
              uses: actions/checkout@v5
              with:
                fetch-depth: 0
                token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
            
            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                node-version: 24
              
            - name: Update Dependencies
              run: |
                npm install -g npm-check-updates
                ncu -u
                npm install

            - name: Commit and Push Changes
              run: |
                git config --global user.name "Samuel Hernandez Balderas"
                git config --global user.email "samuel05.hb@gmail.com"
                git add .
                git diff --staged --quiet || git commit -m "chore: updated dependencies"
                git push
    